body {
    background-color: #FFFEE3;
    margin: 3rem 5% 3rem 5%;
    font-family: Calibri;
}

header div {
    text-align: center;
}

section h2 {
    font-size: 1.9rem;
}

#main-article {
    position: relative;
    display: block;
}

#main-article article {
    position: relative;
    justify-items: center;
}

#main-article img {
    width: 100%;
    border-radius: 20px;
    object-position: 80% 25%;
    object-fit: none;
    transform: scaleX(-1);
    min-height: 300px;
    height: 300px;
}

#main-article h1 {
    width: 40%;
    position: absolute;
    margin-left: 1rem;
    margin-top: 0px;
    color: white;
    font-size: 3vw;
    font-family: Calibri;
    word-wrap: break-word;
    left: 25%;
    top: 45%;
    transform: translate(-45%, -40%);
    text-shadow: -5px 4px 9px RGBA(0,0,0,1.1);
}

#main-article p {
    text-align: center; 
    color: rgb(81, 110, 43);
    margin: 2% 17% 2% 17%;
}

.navigation > ul {
    text-align: center;
    background-color: #FFFC86;
    padding: 0;
    text-align: center;
    border-radius: 15px;
}

.navigation li {
    display: inline-block;
    min-width: 110px;
    padding: 0.9rem;
} 

.navigation a {
    text-decoration: none;
    font-size: 1.3rem;
    color: #26877F;
}

section {
    display: flex;
    flex-wrap: wrap;
}

article p {
    text-align: left;
    color: rgb(81, 110, 43);
}

article h2 {
    color: #286b66;
    text-align: center;
    height: 10%;
}

.post-summary {
    background-color: #dfdfc5;
    flex: 1;
    padding: 0% 3% 5% 3%;
    margin-top: 2%;
    margin-left: 1%;
    border-radius: 25px;
    min-width: 200px;
}

.post-summary img {
    width: 100%;
    aspect-ratio: 1.5;
    object-fit: cover;
}

footer {
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    border-radius: 25px;
    height: fit-content;
    align-items: center;
    margin-top: 50px;
    padding: 2rem 1rem 2rem 1rem;
    text-align: center;
    background-color: #FFFC86;
}

footer > div {
    flex: 1;
}

#contact {
    width: fit-content;
    word-wrap: break-word;
}

footer h2 {
    color: rgb(81, 110, 43);
    font-size: 1.3rem;
}

footer p {
    font-size: 1rem;
    color: rgb(81, 110, 43);
}

#quick-link a {
    text-decoration: none;
    color: rgb(81, 110, 43);
    width: fit-content;
}

.small-logo {
    height: 100px;
    min-width: 120px;
    
}

.small-logo > img {
    max-height: 95%;
    max-width: 95%;
}

.dropdown-list {
    display: inline-block;
    position: relative;
}

.dropdown-item {
    display: none;
    position: absolute;
    background-color: #ecea75;
    z-index: 1;
    box-shadow: 0px 7px 14px 1px rgba(20, 20, 20, 0.4);
    width: 120%;
}

.dropdown-item a {
    display: block;
    padding: 7% 7%;
    color:#286b66 ;
    text-decoration: none;
}

.dropdown-list:hover .dropdown-item {
    display: block;
}

.dropdown-item  a:hover {
    background-color: #d6d468;
}